.button {
  width: 15vh;
  margin: 1em 1em 2em 1em;
  color: #1d3c45;
  padding: 1em;
  background-color: #1ac0d2;
  transition: transform 500ms ease-in-out;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  opacity: 0;
  animation: appear 2s ease-in forwards 4s;
  box-shadow: 5px 5px 5px grey;
}

.button:hover {
  transform: translateY(-3px) scale(1.03);
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.close{
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.close:hover{
  background-color: #737373;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
